body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

img {
  max-width: 100%;
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
  width: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1.5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  background-color: #0f0c19;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s linear;
}

.button-red {
  background-color: red;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s linear;
}

.button:hover {
  background-color: #0f0c19b2;
}

.button-red:hover {
  background-color: #ff0000b2;
}

header {
  background-color: #0f0c19;
}

.pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.userItemContainer {
  margin-top: 15px;
  position: fixed;
  top: 35%;
  left: 1%;
  background-color: red;
}

.userItem-1 {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.userItem-2 {
  position: fixed;
  top: 8px;
  left: 5rem;
  font-size: 1.25rem;
}

.signOut {
  /* position: fixed; */
  top: 77%;
  left: 53%;
}

.delete {
  /* position: fixed; */
  top: 77%;
  left: 40%;
}

.signIn {
  /* position: fixed; */
  top: 50%;
  left: 45%;
}

.blue {
  color: blue;
}

.white {
  color: white;
}

.form-container {
  left: 45%;
}

.footer {
  /* position: fixed; */
  top: 93%;
  left: 45%;
}

.button-submit {
  background-color: #0f0c19;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  /* position: fixed; */
  top: 70%;
  left: 47.7%;
}

.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* Full-width input fields */
input[type="text"] {
  width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 16px;
}

input[type="text"]:focus {
  background-color: #ddd;
  outline: none;
}

.dropdown-buttons {
  background-color: rgb(255, 255, 255);
  border: none;
  color: #f1f1f1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown-buttons:hover {
  box-shadow: 0px -7px 0.75 0 rgba(47, 47, 47, 0.203);
  box-shadow: 1px 13px 3 0 rgb(47, 47, 47);
}
